<!-- 
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<?xml version="1.0" encoding="UTF-8"?> -->  


<!-- 
	Windows -> Show View -> Servers . 
	Then in the servers view, right click and add new. It will show a pop up containing many server vendors. 
	Under Apache select Tomcat v7.0
 -->


<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
    
    <display-name>Archetype Created Web Application</display-name> 
	
	<servlet>  
	    <servlet-name>spring</servlet-name>  
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
	    <load-on-startup>1</load-on-startup>  
	</servlet>  
	<servlet-mapping>  
	    <servlet-name>spring</servlet-name>
 		<url-pattern>/</url-pattern>  
	    <!-- <url-pattern>*.html</url-pattern>  -->
	</servlet-mapping>  
</web-app>  

